<!-- <div id="sideNavigation" class="sidenav">
  <div class="loginNameWrapper">
    <span class="username">Paras</span>
    <svg width="30" height="30" id="icoOpen">
      <path d="M0,5 30,5" stroke="#ddd" stroke-width="5" />
      <path d="M0,14 30,14" stroke="#ddd" stroke-width="5" />
      <path d="M0,23 30,23" stroke="#ddd" stroke-width="5" />
    </svg>
  </div>

  <div class="useNameWrapper">
    <span class="username">Paras jain</span>

  </div>
  <div>
    <span class="menubar">Menu</span>
    <a><span class="fa fa-home"></i>Home</a>
    <a href="#">Project</a>
    <a href="#">Message</a>
    <a href="#">Analytics</a>
    <a href="#">Tasks</a>
    <a href="#">Calendar</a>
    <a href="#">Layots</a>
    <a href="#">Accounts</a>
  </div>

  <div>
    <span class="more">More</span>
    <a href="#">Payments</a>
    <a href="#">Directory</a>  
    <a href="#">Library</a>
    <a href="#">Help</a>  
  </div>


</div> -->